
@{
    ViewBag.Title = "Add_update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add update</h2>
<input type="text" id="txt_firstName" placeholder="Enter First Name" />
<br />
<br />
<input type="text" id="txt_LastName" placeholder="Enter Last Name" />
<br />
<br />
<input type="tel" id="txt_Contact" placeholder="Enter Contact Name" />
<br />
<br />
<input id="txt_DOB" type="date" />
<br />
<br />
<input type="number" id="get_id" placeholder="id for get Data" />
<button id="btn_get_data"> GET DATA</button>
<button id="btn_save">SAVE</button>
<script src="~/Scripts_js/StudentAdd_Update.js" type="text/javascript"></script>

